$couleur-princ: #41ef7b;
$couleur-liens: #71f54a;

$primary: #71f54a;

$background-princ: #1d1d1d;

$background-footer: rgb(29, 29, 29);
$couleur-text-light: #dedddd;
$background-light:#f5f5f5;
$couleur-text-dark: #5c5c5c;
$border-color:#5c5c5c;

$couleur-lien-text:#59844c;

$divider-background-color: pink;

@import "~bulma/bulma";

/* transitions de page */
.page-enter-active, .page-leave-active {
	transition: opacity .5s
  }
  .page-enter, .page-leave-active {
	opacity: 0
  }

  .container {
	transition: all .5s cubic-bezier(.55,0,.1,1);
  }
  

html{
	background:$background-princ;
}


body {
	
	height:100%;
	background-color: $background-light;
	p {
		margin-bottom: 1em;
	}
}

a {
	color: $couleur-liens;
}

.is-1{
	font-size:4em;
	text-transform: uppercase;
	font-family: 'Teko';
}

.is-2{
	font-size:4em;
}

a.button.is-primary {
	color: $primary !important;
	border-color: $primary !important;
}

.title1-part1 {
	text-transform: uppercase;
	font-family: 'Teko';
	color: $couleur-princ;
	font-size: 3em !important;
	line-height: 0.7em;
}

.title1-part2 {
	color: $couleur-princ;
	font-family: 'Muli';
	font-size: 1em;
}



.svg{
	width:100%;
	height:auto;
}

.home-top {
	position: relative;

	h2 {
		font-family: "Philosopher";
		font-size:2.5em;
	}

	.content-home-top {
		display:flex;
		background: url("~assets/img/fondfgrx2.jpg");
		background-attachment: fixed;
		background-size: cover;
		height: 55vh;
		top: 0;
		bottom: 0;
		width: 100%;
		.image-right{
			text-align:left;
			img{
				height:210px;
			}
		}

	}

	.inner-home {
		vertical-align: middle;
		width: 100%;
		display: inline-block;
		margin: auto;
	}

	.fg {
		font-size: 4em;
	}

	.devlyon {
		font-size: 1.7em;
	}

	.technos {
		color: white;
		font-family: "Philosopher";
		font-size: 2.2em;
		margin-top: 1.2em;
	}

	.devlyon {
		font-size: 1.5em;
	}

	.technos {
		color: white;
		font-family: "Philosopher";
		font-size: 1.2em;
		margin-top: 1.2em;
	}
}

.postsHome {
	//color: white;
	background: url("~assets/img/fondligne.png") bottom no-repeat;
	background-size: 100%;
	background-color: #3a3a3a;
	background-position-y: 101%;
	padding-bottom:100px;
	.title {
	}

	.see-all-posts{
		text-align: center;
		margin-top:1.5em;
	}
}

.home-realisations {
	background: $background-princ;
	color: $couleur-text-dark;
	
	.is-4 {
		color: $couleur-text-dark;
	}

	a{
		color: $couleur-text-dark;
	}

	img {
		height: auto;
		max-width: 100%;
	}

}

.home-items {
	background: url("~assets/img/fleche.png") top no-repeat $couleur-princ;
	background-size: 7em;
	padding-bottom: 2em;
	text-align: center;
	h2 {
		color: $couleur-text-dark;
		font-size:3.5em;
	}


	.items {
		font-size: 2.5em;
		font-family: "Philosopher";
	}

	.image-item{
		font-size: 2.5em;
	}
}

.home-contact {
	h2 {
		color: $couleur-text-dark;
	}

	background: $background-light;
	padding: 4em;

	.logo-mail {
		font-size: 20em;
		color: #5fef8e;
	}

	input,
	textarea {
		margin-bottom: 1em;
	}

	.enveloppe{
		font-size: 20em;
		color:
		#5fef8e;
	}
}

.home-presentation {
	background-color:$background-princ;
	margin-top: -2px;
	color: $couleur-text-light;
	font-size: 1.2em;

	.imagePresentation {
		border-radius: 50%;
		text-align: center;
		object-position: center;
		max-width: 100%;
		max-height: 100%;
	}
}

h1{
	line-height:1.1em;
}

h2 {
	color: $couleur-text-light;
	font-size: 4em;
	font-family: "Teko";

	.small {
		font-size: 0.5em;
	}
}

.content{
	h2{
		margin-top:1.2em !important;
	}

	img{
		display: block;
		margin: 0 auto;	
	}

	em{
		text-align:center;
		display: block;
		margin: 0 auto;	
	}

	a{
		color:$couleur-lien-text;
		text-decoration:underline;
		:hover{
			color:black;
		}
	}
}


.card{
	background-color: $background-light;
}


.item-portfolio{
	.card{
	border:1px solid $border-color;
}
}

.publication{
	&:hover{
		transform: scale(1.05,1.06);
		transition-timing-function: ease-out;
		transition-duration: 250ms;
	}

	background-color: $background-light;
	border:1px solid $border-color;
	
	.publication-image{
		height:300px;
		width:100%;

		img { 
			height: 300px;
			width:100%;
			object-fit: cover;
		}

	}

	.publication-titre{
		z-index:1;
		background-color:$light;
		padding:1em;
		width:100%;
	}
}


footer.general-footer {
	margin-top:3em;
	background: url("~assets/img/fond.png") top no-repeat;
	background-size: 100%;
	background-color: $background-light;
	padding-top: 2em;
	color: $couleur-text-light;

	.title1-part1 {
		font-size: 4em!important;
	}

	.title1-part2 {
		font-size: 1.3em;
	}

}

.navbar-brand{
padding-left:2em;
padding-top: 7px;
font-size: 0.7em;
}

article{

	h2{
		color:$couleur-text-dark;
		font-size:2em !important;
	}
	.resume{
		font-weight:bold;
	}

	.article-content{
		font-size:1.2em;
	}
}

.code{
	border:1px 	
}

.centered{
    text-align:center;
  }


@media screen and (max-width:700px) {
	.title1-part1 {
		font-size: 3em !important;
	}
	.title1-part1 {
		font-size: 1.4em !important;
	}

	.title3{
		font-size:1.5em !important;
	}



	footer.general-footer {
		//background: url("~assets/img/fond.png") top no-repeat;
		background-color: $background-light;
		color: $couleur-text-light;

		.title1-part1 {
			font-size: 4em!important;
		}

		.title1-part2 {
			font-size: 1.3em;
		}

		.section{
			padding-top: 4em;
			background:$background-princ;
		}
	}

	.centered {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.data-more {
		display: none;
	}


	.home-competences{
		i {
			font-size: 1.7em;
		}
	}
}